section{
    width:100%;
}
.container{
    max-width: 80%;
    margin:0 auto;
}
form{
  position:fixed;
  top:200px;
  margin-left:700px;
}

td{
    font-weight: 600;
    padding: 10px;
    font-size: 17px;
    border-radius: 4px;
    width: 170px;
    border: 1px solid fuchsia;
    background-color: fuchsia;
}
th{
    font-weight: 600;
    padding: 10px;
    font-size: 17px;
    border-radius: 4px;
    width: 170px;
    background-color:cyan;  
    font-weight: 600;
}
h1{
    color:maroon;
}
